.newpassword {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.newpassword-size {
    display: flex;
    width: 80%;
    height: 70%;
    justify-content: center;
    align-items: center;
    background-color: #B8C0CC;
    box-shadow: 0px 2px 4px black;
}

.newpassword-size_form {
    display: flex;
    width: 90%;
    height: 90%;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
}

.newpassword-size_form_style {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.newpassword-size_form_style h1 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16pt;
    opacity: 1;
    color: black;
}

.newpassword-size_form_style input {
    width: 90%;
    transition: 0.5s;
}

.newpassword-size_form_style textarea {
    width: 90%;
    height: 20%;
    transition: 0.5s;
    padding-top: 5%;
    padding-bottom: 5%;
}

.newpassword-size_form_style_select {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
}

.newpassword-size_form_style_select select {
    width: 50%;
    height: 100%;
    padding-right: 5%;
    padding-left: 5%;
    transition: 0.5s;
    border: 1px solid black;
    border-radius: 8px;

}

.newpassword-size_form_style button p {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12pt;
    opacity: 0.8;
    color: dimgray;
    transition: 0.5s;
}

::-webkit-input-placeholder {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12pt;
    opacity: 0.8;
    color: dimgray;
    transition: 0.5s;
}

::-moz-placeholder {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12pt;
    opacity: 0.8;
    color: dimgray; /* Firefox 19+ */
    transition: 0.5s;
}

::-moz-placeholder {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12pt;
    opacity: 0.8;
    transition: 0.5s;
    color: dimgray;
}

/* Firefox 18- */
:-ms-input-placeholder {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12pt;
    opacity: 0.8;
    transition: 0.5s;
    color: dimgray;
}

:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.4s
}

:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.4s
}

:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.4s
}

:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.4s
}

.newpassword-decoration {
    border: 1px solid black;
    border-radius: 8px;
    width: 100%;
    height: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

.newpassword-decoration_div {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newpassword-decoration_div_input {
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    width: 50%;
    height: 100%;
}

.newpassport {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.newpassport_input {
    width: 90%;
    height: 10%;
    transition: 0.5s;
}

.newpassport h1 {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16pt;
    opacity: 1;
    color: black;
}

.newpassport button p {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12pt;
    opacity: 0.8;
    color: dimgray;
    transition: 0.5s;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

button:hover {
    opacity: 1;
    transition: opacity 0.3s;
}

button:hover p {
    color: white;
}

button:hover h3 {
    color: white;
}
.newfile{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
}
.newfile-link_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    text-decoration: none;
}
.newfile-link_div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.newpassword-size_form_style_month_year{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
}